<div class="row">
    <div class="col-sm-12 movie-page">
        
        <h2 class="movie-title col-sm-12"><%= @movie.title %></h2>
        
        <div class="movie-img col-sm-4">
            
            <% if @movie.image? %>
                <%= image_tag @movie.image.url, :size => '220x310' %>
            <% end %>
            
        </div><!--movie-img-->
        
        <div class="movie-text col-sm-8">
            
            <div class="gen">
            <h2 class="gen-title">ジャンル</h2>
            <div class="gen-tri"></div>
            <a>アクション</a><!--後にrubyで編集-->
            </div><!--gen-->
            
            <span class="movie-tag">
                <i class="fa fa-tags" aria-hidden="true"> タグ一覧</i>
                <a>2014年</a><a>戦争映画</a><a>第二次世界大戦</a><a>ドイツ</a><a>ヒトラー</a><!--後にrubyで編集-->
            </span>
        </div>
        
        <div class="movie-text reviewer-point col-md-8">
            <h3>レビュワー評価</h3>
            <div class="wrapper-movie-point col-sm-5">
                <table class="movie-point">
                    <tr><th>キャスト</th><td>★★★★★</td></tr>
                    <tr><th>映像</th><td>★★★★</td></tr>
                    <tr><th>音楽</th><td>★★</td></tr>
                    <tr><th>演出</th><td>★★★★★</td></tr>
                    <tr><th>物語</th><td>★★★★★</td></tr>
                </table>
            </div>
            
            <div class="wrapper-chart col-sm-7">
                <canvas id="canvas" width="250px" height="250px"></canvas>
            </div>
            <script>
              $(function() {
                // チャートの枠組み
                var radarChartData = {
                  labels: ["キャスト", "映像", "音楽", "演出", "物語"],
                  datasets: [
                    {
            		// 透明を使いたいのでRGBAで色を再現→rgba(xxx,xxx,xxx,0.5):透過度50%
            		fillColor: "rgba(244,250,130,0.4)",	// チャート内の色
            		
            		strokeColor: "rgba(0,0,0,0.3)",	// チャートを囲む線の色
                    pointColor: "rgba(0,0,0,0)", 	// チャートの点の色
                    pointStrokeColor: "rgba(0,0,0,0)",	// 点を囲む線の色
            		
            		// 各項目の値
                    data: [5,4,2,5,5]
                    }
                  ]
                };
            
                // Canvas にレーダーチャートを描画
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                var chart = new Chart(context);
                var rader = chart.Radar(radarChartData, {
                  scaleShowLabels: true,  // 目盛を表示（true/false）
                  pointLabelFontSize : 13, // ラベルのフォントサイズ
            	  
            	  //メモリの設定
            	  scaleOverride : true, // メモリの最大値を手動設定（true/false）
            	  scaleSteps : 5, // メモリの数
            	  scaleStartValue : 0, // メモリの最初の数
            	  scaleStepWidth : 1, // メモリの間隔
            	  // 例：scaleSteps→5　scaleStepWidth→10
            	  // だと5×2で最大値10
                });
            	
              });
              
            </script>
        </div><!--movie-text-->
        
        <div class="movie-info col-sm-12">

            <p class="movie-story"><%= @movie.story %>
            <cite>wikipedia "<%= @movie.title %>" より抜粋</cite>
            </p>
            
            <h2>この作品のレビューを見る</h2>
            <p>レビュー１</p>
            
            <h2>この作品のスレッド</h2>
            <p>レビュー１</p>
        </div>
        
    </div>
    
    <%= link_to "削除", @movie, method: :delete, data: { confirm: '削除してよろしいですか？' } %> 
</div>