
<div class="row gutter-20">
    <div class="col-sm-12 profile-body">
        <div class="wrapper-profile row">
            
            <div class="profile-name col-sm-4">
                <%= link_to gravatar_for(@user,size:200),@user, class:'profile-image' %>
                <h1><%= @user.name %></h1>
                <span><%= render 'follow_form' if logged_in? %></span>
            </div>
                
            <div class="profile-text col-sm-8">
                <p><%= @user.profile %></p>
            </div>
            
        </div>
        <div class="tri"><span></span></div>
               
                <h2>この人が書いた映画・アニメのレビュー</h2>
                <p><%= render @reviews %></p>
                <h2>作品スレッドへのコメント</h2>
                
                <% @comments.each do |comment| %>
                <p><%= comment.movie.title %> <%= comment.updated_at %></p>
                <p><%= comment.body %></p>
                <% end %>
                
                <h2>好きな映画・アニメのジャンル</h2>
                <p>アクション　ホラー　SF</p>
                <h2>お気に入りの作品</h2>
                <p></p>
                <h2>フォロー</h2>
                <p>
                 <% if @user.following_users.any? %>
                 <% @user.following_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50), user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
                <h2>フォロワー</h2>
                <p>
                <% if @user.follower_users.any? %>
                 <% @user.follower_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50),user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
    </div>
</div>          
